[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=hass
WorkingDirectory=/var/lib/hass/homeassistant
ExecStart=/var/lib/hass/homeassistant/bin/hass

[Install]
WantedBy=multi-user.target
